/* HOVER  */
header .logo-grande:hover, .logo-piccolo:hover{
    width: 110%;
}
header i:hover{
    font-size: 25px;
    transition: 0.8;
}

#menu-laterale .link:hover, .box-container:hover{
    font-size: 25px;
}
/* /HOVER */ 