/* HEADER */
.logo-piccolo{
    display: none;
}
/* /HEADER */



/* X-Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) { 

    /* HEADER */
    .logo-piccolo{
        display: none;
    }
    /* /HEADER */


}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) { 

    /* HEADER */
    .logo-grande{
        display: none;
    }
    .logo-piccolo{
        display: block;
    }
    .box-logo{
        width: 50px;
        height: 50px;
    }
    
    header .nav .card{
        display: flex;
        justify-content: center;
    }
    .bye {
        display: none;
    }
    /* /HEADER */

    /* MENU LATERALE */
    .box-container{
        line-height: 50px;
    }
    /* /MENU LATERALE */

}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) { 

    /* HEADER */
    .logo-grande{
        display: none;
    }
    .logo-piccolo{
        display: block;
    }
    .box-logo{
        width: 50px;
        height: 50px;
    }

    .bye {
        display: none;
    }
    /* /HEADER */

    /* MENU LATERALE */

    /* /MENU LATERALE */

}