/* HEADER */
header {
    background-color: #f8f9fa; 
    padding-top: 10px;
    padding-bottom: 10px;
    height: 6vh;
    width: 100vw;
}
header .row{
    background-color: white;
    align-items: center; 
    padding: 10px;
}
.orange{
    color: orange;
}
.reset-style{
    border: none !important;
    background-color: white!important;
    color: black !important;
}
.logo-piccolo{
    display: none;
}
/* /HEADER */

main{
    display: flex;
    overflow-y: auto;
}


/* MENU LATERALE */
#menu-laterale{
    width: 120px;
    height: 92vh;
    background-image: url(./img/sidebar-bg.png);
    background-color: #051e34;
}
#menu-laterale .col:nth-child(1){
    margin-top: 20px;
}
.ms-link{
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

/* /MENU LATERALE */

#hero{
    width: calc(100vw - 104px);
    height: 14vh;
    background-color: #1b72e8 ;
    display: flex;
}

.ms-btn-radius{
    border-radius: 10px !important;
    background-color: #165bba !important;
    padding: 5px !important;
    font-size: 18px !important;
}
.ms-btn-quadrato{
    border: 1px solid white !important;
    background-color: #1b72e8 !important;
    color: white !important;
    font-size: 25px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 10px !important;
}
.ms-offcanvas{
    width: 500px !important;
}


#classi{
    width: calc(100vw - (120px + 30vw));
    height: 42vh;
}
#faq{
    margin-top: 70px !important;
    width: calc(100vw - (120px + 30vw));
    height: 30vh;
    
}
#todo{
    width: calc(100vw - 70vw);
    height: 20vh;
}
#andamento{
    width: calc(100vw - 70vw) ;
    height: 50vh;
}

